@import "../../../styles/base/variables";

button {
  all: unset;

  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;

  &:hover {
    transform: scale(1.1);
    transition: all 250ms ease-in-out;
  }
}

.primary-btn {
  background-color: $primary-accent;
}
